.navbar {
    align-items: flex-start;
    justify-content: space-between;
    padding: 4rem 3rem 3rem;

    @include respond(500px) {
        align-items: flex-start;
        padding: 3rem 2rem;
    }

    @include respond(400px) {
        padding: 3rem 1rem 3rem 1.6rem;
    }

    .page-label > * {
        position: absolute;
    }

    .logo {
        align-items: center;
        flex-direction: column;
        row-gap: 2px;

        b {
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    b {
        font-size: 2.4rem;
        font-weight: 400;

        &:nth-of-type(2) {
            font-size: 1.2rem;
        }
    }
}

.navbar,
.navbar .logo {
    display: flex;
}

.create-note-btn, .empty-trash {
    margin-top: 1.4rem;
}

.create-note-btn svg {
    height: 1.2rem;
}

.empty-trash {
    span {
        width: 14rem;
    }

    svg {
        height: 1.8rem;
    }
}

.navigation-buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);

    @include respond(h600px) {
        position: absolute;
        top: 30rem;
    }

    @include respond(1000px) {
        left: 2rem;
    }

    @include respond(500px) {
        left: 2rem;
    }

    @include respond(400px) {
        left: 1rem;
    }

    &::before {
        content: "";
        height: 6rem;
        width: 6rem;
        background-color: rgba($color: #fff, $alpha: 0.2);
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        transition: transform .4s;
        z-index: -1;
    }

    button {
        background: none;
        border: none;
        padding: 2rem;

        svg {
            fill: #fff;
            height: 3rem;
        }
    }
}

.focus-home::before {
    transform: translate(-50%, 0.4rem);
}

.focus-favourites::before {
    transform: translate(-50%, 7.2rem);
}

.focus-trash::before {
    transform: translate(-50%, 14.4rem);
}


.notes-unavailable {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100%;
    z-index: -1;

    @include respond(h600px) {
        position: absolute;
    }

    @include respond(500px) {
        padding-left: 5%;
    }

    @include respond(400px) {
        padding-left: 10%;
    }

    img {
        height: 36rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        column-gap: 1rem;

        .emoji {
            height: 2.8rem;
        }
    }

    .desktop-home {
        @include respond(600px) {
            display: none;
        }
    }

    .mobile-home {
        display: none;

        @include respond(600px) {
            display: flex;
        }
    }
}

.notes {
    padding: 5rem 3rem 5rem 15rem;
    columns: 4;
    gap: 2rem 2rem;

    @include respond(1000px) {
        columns: 3;
        padding: 5rem 5rem 5rem 12rem;
    }

    @include respond(800px) {
        columns: 2;
    }

    @include respond(600px) {
        columns: 1;
    }

    @include respond(500px) {
        padding: 5rem 2rem 5rem 11rem;
    }

    @include respond(400px) {
        padding: 5rem 2rem 5rem 10rem;
    }
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s ease-in-out;
}

.overlay-visible {
    opacity: 0.75;
    z-index: 50;
}

.delete-confirm {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-in-out;

    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: 0.75;
        z-index: 10;
    }

    .confirmation-dialog {
        display: flex;
        background-color: #000;
        border: 1px solid #fff;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 3rem;
        padding: 3rem;
        margin: auto;
        position: relative;
        z-index: 20;

        strong {
            font-size: 1.8rem;
            font-weight: 400;
        }

        .delete-confirm-buttons {
            button {
                background-color: #000;
                border: 1px solid #fff;
                color: #fff;
                padding: 1.6rem 2rem;
                font-size: 1.4rem;

                &:first-of-type {
                    margin-right: 1rem;
                }

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

main div.delete-confirm-visible {
    opacity: 1;
    z-index: 150;
}

footer {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-family: 'Poppins', sans-serif;
}